{% extends 'base_1.html.twig' %}

{% block title %}Créer tarif visite extra{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">       
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-gradient-primary">
                <h4 class="m-0 font-weight-bold text-gray-100">Créer tarif visite extra</h4>
                <div class="dropdown no-arrow">
                    <a href="{{ path('vet_index') }}" title="Retour à la liste" class="btn btn-sm bg-gradient-secondary text-white btn-icon-split">
                        <span class="icon text-white">
                            <i class="fas fa-list"></i>
                        </span>
                    </a>
                    {% if is_granted('ROLE_SUPERADMIN') %}
                    <a href="{{ path('vet_new') }}" title="Créer" class="btn btn-sm bg-gradient-primary text-white btn-icon-split">
                        <span class="icon text-white">
                            <i class="fas fa-plus"></i>
                        </span>
                    </a>
                    {% endif %}
                </div>
            </div>
            {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                    {{ message }}
            </div>
            {% endfor %}
            <div class="card-body">
                {{ form_start(form) }}
                    {{ form_row(form.ctArretePrix) }}
                    {{ form_row(form.ctVisiteExtra) }}
                    {{ form_row(form.vetPrix) }}
                    {{ form_row(form.save) }}
                {{ form_end(form) }}
            </div>

            <div class="card-footer">
                <div class="row">
                    <a href="{{ path('vet_index') }}" class="btn btn-sm bg-gradient-secondary text-white btn-icon-split ml-2 mr-2">
                        <span class="icon text-white">
                            <i class="fas fa-list"></i>
                        </span>
                        <span class="text">Retour à la liste</span>
                    </a>
                    {% if is_granted('ROLE_SUPERADMIN') %}
                    <a href="{{ path('vet_new') }}" class="btn btn-sm bg-gradient-primary text-white btn-icon-split ml-2 mr-2">
                        <span class="icon text-white">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Créer tarif visite extra</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}