{% extends 'base_1.html.twig' %}

{% block title %}Liste des centres{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">       
        <!-- DataTales Roles -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-gradient-primary">
                <h4 class="m-0 font-weight-bold text-gray-100">Listes des centres</h4>
                <div class="dropdown no-arrow">
                    <a href="{{ path('app_ct_centre_index') }}" title="Retour à la liste" class="btn btn-sm btn-secondary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-list"></i>
                        </span>
                    </a>
                    {% if is_granted('ROLE_SUPERADMIN') %}
                    <a href="{{ path('app_ct_centre_new') }}" title="Créer" class="btn btn-sm btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                    </a>
                    {% endif %}
                </div>
            </div>
            {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                    {{ message }}
            </div>
            {% endfor %}
            <div class="card-body">
                <div class="table-responsive table-striped">
                    <table class="table table-sm table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr class="text-center">
                                <th>N°</th>
                                <th>Nom</th>
                                <th>Code</th>
                                <th>Province</th>
                                <th width="12%">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for centre in centres %}
                            {% set i = ( i | default(0) ) + 1 %}
                                <tr>
                                    <td class="text-center">{{ i }}</td>
                                    <td>{{ centre.ctrNom }}</td>
                                    <td class="text-center">{{ centre.ctrCode }}</td>
                                    <td>
                                        {% if(centre.ctProvince is not null) %}
                                            {{ centre.ctProvince.prvNom }}
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {# <a class="btn btn-sm btn-info"
                                            href="{{ path('app_ct_centre_show', {'id': centre.id}) }}">
                                                <i class="fas fa-eye"></i>
                                        </a> #}
                                        {% if is_granted('ROLE_SUPERADMIN') %}
                                        <a class="btn btn-sm btn-warning" title="Modifier"
                                            href="{{ path('app_ct_centre_edit', {'id': centre.id}) }}">
                                                <i class="fas fa-pen"></i>
                                        </a>
                                        <a class="btn btn-sm btn-danger" title="Supprimer"
                                            href="{{ path('app_ct_centre_delete', {'id': centre.id}) }}">
                                                <i class="fas fa-trash"></i>
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="2" class="text-center alert-danger">Aucun enregistrement trouvé.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <a href="{{ path('app_ct_centre_index') }}" class="btn btn-sm btn-secondary btn-icon-split ml-2 mr-2">
                        <span class="icon text-white-50">
                            <i class="fas fa-list"></i>
                        </span>
                        <span class="text">Retour à la liste</span>
                    </a>
                    {% if is_granted('ROLE_SUPERADMIN') %}
                    <a href="{{ path('app_ct_centre_new') }}" class="btn btn-sm btn-primary btn-icon-split ml-2 mr-2">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Créer un centre</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
