{% extends 'base_1.html.twig' %}

{% block title %}Liste des tarifs des motifs{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">       
        <!-- DataTales Roles -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-gradient-primary">
                <h4 class="m-0 font-weight-bold text-gray-100">Liste des tarifs des motifs</h4>
                <div class="dropdown no-arrow">
                    <a href="{{ path('app_ct_motif_tarif_index') }}" title="Retour à la liste" class="btn btn-sm bg-gradient-secondary text-white btn-icon-split">
                        <span class="icon text-white">
                            <i class="fas fa-list"></i>
                        </span>
                    </a>
                    {% if is_granted('ROLE_SUPERADMIN') %}
                    <a href="{{ path('app_ct_motif_tarif_new') }}" title="Créer" class="btn btn-sm bg-gradient-primary text-white btn-icon-split">
                        <span class="icon text-white">
                            <i class="fas fa-plus"></i>
                        </span>
                    </a>
                    {% endif %}
                </div>
            </div>
            {% for message in app.flashes('success') %}
            <div class="alert bg-gradient-success text-white text-center">
                    {{ message }}
            </div>
            {% endfor %}
            <div class="card-body">
                <div class="table-responsive table-striped">
                    <table class="table table-sm table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr class="text-center bg-gradient-light text-dark">
                                <th>N°</th>
                                <th>Motif</th>
                                <th>Prix (en Ariary)</th>
                                <th>Année</th>
                                <th width="12%">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ct_motif_tarif in ct_motif_tarifs %}
                            {% set i = ( i | default(0) ) + 1 %}
                                <tr>
                                    <td class="text-center">{{ i }}</td>
                                    <td>{{ ct_motif_tarif.ctMotif ? ct_motif_tarif.ctMotif.mtfLibelle : '' }}</td>
                                    <td class="text-right">{{ ct_motif_tarif.MtfTrfPrix | number_format(2, ',', '.') }}</td>
                                    <td class="text-center">{{ ct_motif_tarif.mtfTrfDate }}</td>
                                    <td class="text-center">
                                        {# <a class="btn btn-sm btn-info"
                                            href="{{ path('app_ct_motif_tarif_show', {'id': ct_motif_tarif.id}) }}">
                                                <i class="fas fa-eye"></i>
                                        </a> #}
                                        {% if is_granted('ROLE_SUPERADMIN') %}
                                        <a class="btn btn-sm bg-gradient-warning text-white" title="Modifier"
                                            href="{{ path('app_ct_motif_tarif_edit', {'id': ct_motif_tarif.id}) }}">
                                                <i class="fas fa-pen"></i>
                                        </a>
                                        <a class="btn btn-sm bg-gradient-danger text-white" title="Supprimer"
                                            href="{{ path('app_ct_motif_tarif_delete', {'id': ct_motif_tarif.id}) }}">
                                                <i class="fas fa-trash"></i>
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5" class="text-center bg-gradient-danger text-white">Aucun enregistrement trouvé.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <a href="{{ path('app_ct_motif_tarif_index') }}" class="btn btn-sm bg-gradient-secondary text-white btn-icon-split ml-2 mr-2">
                        <span class="icon text-white">
                            <i class="fas fa-list"></i>
                        </span>
                        <span class="text">Retour à la liste</span>
                    </a>
                    {% if is_granted('ROLE_SUPERADMIN') %}
                    <a href="{{ path('app_ct_motif_tarif_new') }}" class="btn btn-sm bg-gradient-primary text-white btn-icon-split ml-2 mr-2">
                        <span class="icon text-white">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Créer tarif du motif</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}