{% extends 'base_1.html.twig' %}

{% block title %}Modifier l'arrêté{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">       
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-gradient-primary">
                <h4 class="m-0 font-weight-bold text-gray-100">Modifier l'arrêté</h4>
                <div class="dropdown no-arrow">
                    <a href="{{ path('app_ct_arrete_prix_index') }}" title="Retour à la liste" class="btn btn-sm bg-gradient-secondary text-white btn-icon-split">
                        <span class="icon text-white">
                            <i class="fas fa-list"></i>
                        </span>
                    </a>
                    {% if is_granted('ROLE_SUPERADMIN') %}
                    <a href="{{ path('app_ct_arrete_prix_new') }}" title="Créer" class="btn btn-sm bg-gradient-primary text-white btn-icon-split">
                        <span class="icon text-white">
                            <i class="fas fa-plus"></i>
                        </span>
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                    {{ form_row(form.art_numero) }}
                    {{ form_row(form.art_date) }}
                    {{ form_row(form.art_date_applic) }}
                    {{ form_row(form.save) }}
                {{ form_end(form) }}
            </div>

            <div class="card-footer">
                <div class="row">
                    <a href="{{ path('app_ct_arrete_prix_index') }}" class="btn btn-sm bg-gradient-secondary text-white btn-icon-split ml-2 mr-2">
                        <span class="icon text-white">
                            <i class="fas fa-list"></i>
                        </span>
                        <span class="text">Retour à la liste</span>
                    </a>
                    {% if is_granted('ROLE_SUPERADMIN') %}
                    <a href="{{ path('app_ct_arrete_prix_new') }}" class="btn btn-sm bg-gradient-primary text-white btn-icon-split ml-2 mr-2">
                        <span class="icon text-white">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Créer un arrêté</span>
                    </a>
                    <div>{{ include('ct_arrete_prix/_delete_form.html.twig') }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
