{% extends 'base_1.html.twig' %}

{% block title %}Détail anomalie{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">       
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-gradient-primary">
                <h4 class="m-0 font-weight-bold text-gray-100">Détail anomalie</h4>
                <div class="dropdown no-arrow">
                    <a href="{{ path('app_ct_anomalie_index') }}" title="Retour à la liste" class="btn btn-sm btn-secondary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-list"></i>
                        </span>
                    </a>
                    {% if is_granted('ROLE_SUPERADMIN') %}
                    <a href="{{ path('app_ct_anomalie_new') }}" title="Créer" class="btn btn-sm btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Type :</th>
                            <td>
                                {% if ct_anomalie.ctAnomalieType is not null %}
                                {{ ct_anomalie.ctAnomalieType.atpLibelle }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Libellé :</th>
                            <td>{{ ct_anomalie.anmlLibelle }}</td>
                        </tr>
                        <tr>
                            <th>Code :</th>
                            <td>{{ ct_anomalie.anmlCode }}</td>
                        </tr>
                        <tr>
                    </tbody>
                </table>
            </div>

            <div class="card-footer">
                <div class="row">
                    <a href="{{ path('app_ct_anomalie_index') }}" class="btn btn-sm btn-secondary btn-icon-split ml-2 mr-2">
                        <span class="icon text-white-50">
                            <i class="fas fa-list"></i>
                        </span>
                        <span class="text">Retour à la liste</span>
                    </a>
                    {% if is_granted('ROLE_SUPERADMIN') %}
                    <a href="{{ path('app_ct_anomalie_new') }}" class="btn btn-sm btn-primary btn-icon-split ml-2 mr-2">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Créer une anomalie</span>
                    </a>
                    <a href="{{ path('app_ct_anomalie_edit', {'id': ct_anomalie.id}) }}" class="btn btn-sm btn-warning btn-icon-split ml-2 mr-2">
                        <span class="icon text-white-50">
                            <i class="fas fa-pen"></i>
                        </span>
                        <span class="text">Modifier l'anomalie</span>
                    </a>
                    <div>{{ include('ct_anomalie/_delete_form.html.twig') }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
