{% extends 'base_1.html.twig' %}

{% block title %}CtTypeUsage index{% endblock %}

{% block body %}
    <h1>CtTypeUsage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tpu_libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ct_type_usage in ct_type_usages %}
            <tr>
                <td>{{ ct_type_usage.id }}</td>
                <td>{{ ct_type_usage.tpuLibelle }}</td>
                <td>
                    <a href="{{ path('type_usage_show', {'id': ct_type_usage.id}) }}">show</a>
                    <a href="{{ path('type_usage_edit', {'id': ct_type_usage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_usage_new') }}">Create new</a>
{% endblock %}
