{% extends 'base.html.twig' %}

{% block title %}CtTypeUsage{% endblock %}

{% block body %}
    <h1>CtTypeUsage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_type_usage.id }}</td>
            </tr>
            <tr>
                <th>Tpu_libelle</th>
                <td>{{ ct_type_usage.tpuLibelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ct_type_usage_index') }}">back to list</a>

    <a href="{{ path('app_ct_type_usage_edit', {'id': ct_type_usage.id}) }}">edit</a>

    {{ include('ct_type_usage/_delete_form.html.twig') }}
{% endblock %}
