{% extends 'base_1.html.twig' %}

{% block title %}Ajouter une imprimé dans le BE{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">       
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-gradient-primary">
                <h4 class="m-0 font-weight-bold text-gray-100">Ajouter une imprimé dans le BE</h4>
                <div class="dropdown no-arrow">
                    <a href="{{ path('be_index') }}" title="Retour à la liste" class="btn btn-sm btn-secondary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-list"></i>
                        </span>
                    </a>
                    <a href="{{ path('be_new') }}" title="Créer" class="btn btn-sm btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                    {{ form_row(form.ctCentre) }}
                    {{ form_row(form.ctImprimeTech) }}
                    {{ form_row(form.ctExpressionBesoin) }}
                    {{ form_row(form.beNumero) }}
                    {{ form_row(form.beDateEdit) }}
                    {{ form_row(form.beDebutNumero) }}
                    {{ form_row(form.beFinNumero) }}
                    {{ form_row(form.save) }}
                {{ form_end(form) }}
            </div>

            <div class="card-footer">
                <div class="row">
                    <a href="{{ path('be_index') }}" class="btn btn-sm btn-secondary btn-icon-split ml-2 mr-2">
                        <span class="icon text-white-50">
                            <i class="fas fa-list"></i>
                        </span>
                        <span class="text">Retour à la liste</span>
                    </a>
                    <a href="{{ path('be_new') }}" class="btn btn-sm btn-primary btn-icon-split ml-2 mr-2">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Ajouter une imprimé dans le BE</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{# {% extends 'base.html.twig' %}

{% block title %}New CtBordereau{% endblock %}

{% block body %}
    <h1>Create new CtBordereau</h1>

    {{ include('ct_bordereau/_form.html.twig') }}

    <a href="{{ path('app_ct_bordereau_index') }}">back to list</a>
{% endblock %} #}