{% extends 'base_1.html.twig' %}

{% block title %}Détail d'un bordereau{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">       
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-gradient-primary">
                <h4 class="m-0 font-weight-bold text-gray-100">Détail d'un bordereau</h4>
                <div class="dropdown no-arrow">
                    <a href="{{ path('be_index') }}" title="Retour à la liste" class="btn btn-sm bg-gradient-secondary text-white btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-list"></i>
                        </span>
                    </a>
                    {% if is_granted('ROLE_APPRO') or is_granted('ROLE_SUPERADMIN') %}
                    <a href="{{ path('be_new') }}" title="Créer" class="btn btn-sm bg-gradient-primary text-white btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                    </a>
                    <a href="{{ path('be_print', {'id': ct_bordereau.id}) }}" target="_blank" title="Générer" class="btn btn-sm bg-gradient-danger text-white btn-icon-split">
                        <span class="icon text-white">
                            <i class="fa fa-file-pdf"></i>
                        </span>
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th width="20%">Numéro du bordereau : </th>
                            <td width="80%">{{ ct_bordereau.beNumero }}</td>
                        </tr>
                        <tr>
                            <th width="20%">Date du bordereau : </th>
                            <td width="80%">{{ ct_bordereau.beDateEdit | date('d/m/Y') }}</td>
                        </tr>
                        <tr>
                            <th width="20%">Centre destinataire : </th>
                            <td width="80%">{{ ct_bordereau.ctCentre ? ct_bordereau.ctCentre.ctrNom : "" }}</td>
                        </tr>
                        <tr>
                            <th width="20%">Réf. de l'EDB : </th>
                            <td width="80%">{{ ct_bordereau.ctExpressionBesoin ? ct_bordereau.ctExpressionBesoin.edbNumero : "" }} du {{ ct_bordereau.ctExpressionBesoin ? ct_bordereau.ctExpressionBesoin.edbDateEdit | date('d/m/Y') : "" }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="card">
                    <div class="card-header bg-gradient-light text-dark">Liste des contenus du BE</div>
                    <div class="card-body">
                        <div class="table-responsive table-striped">
                            <table class="table table-sm table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr class="text-center">
                                        <th>N°</th>
                                        <th>Type</th>
                                        <th>Quantité</th>
                                        <th>Numéro IT</th>
                                        <th width="12%">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ct_contenu in ct_contenus %}
                                    {% set i = ( i | default(0) ) + 1 %}
                                        <tr>
                                            <td class="text-center">{{ i }}</td>
                                            <td class="text-left">{{ ct_contenu.ctImprimeTech ? ct_contenu.ctImprimeTech.nomImprimeTech : "" }}</td>
                                            <td class="text-right">{{ ct_contenu.qteDemande | number_format(2, ',', '.') }}</td>
                                            <td class="text-center">{{ ct_contenu.debutNumero and ct_contenu.finNumero ? "#{ct_contenu.debutNumero | number_format(0, ',', '.')} à #{ct_contenu.finNumero | number_format(0, ',', '.')}" : "-" }}</td>
                                            <td class="text-center">
                                                {# <a class="btn btn-sm btn-info"
                                                    href="{{ path('contenu_show', {'id': ct_contenu.id}) }}">
                                                        <i class="fas fa-eye"></i>
                                                </a> #}
                                                {# {% if is_granted('ROLE_SUPERADMIN') %} #}
                                                <a class="btn btn-sm bg-gradient-warning text-white" title="Maj numéro de série"
                                                    href="{{ path('contenu_edit2', {'id': ct_contenu.id, 'ctBordereau': ct_bordereau.id}) }}">
                                                        <i class="fas fa-pen"></i>
                                                </a>
                                                {# <a class="btn btn-sm btn-danger" title="Supprimer"
                                                    href="{{ path('contenu_delete', {'id': ct_contenu.id}) }}">
                                                        <i class="fas fa-trash"></i>
                                                </a> #}
                                                {# {% endif %} #}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="5" class="text-center alert-danger">Aucun enregistrement trouvé.</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <a href="{{ path('be_index') }}" class="btn btn-sm bg-gradient-secondary text-white btn-icon-split ml-2 mr-2">
                        <span class="icon text-white-50">
                            <i class="fas fa-list"></i>
                        </span>
                        <span class="text">Retour à la liste</span>
                    </a>
                    {% if is_granted('ROLE_APPRO') or is_granted('ROLE_SUPERADMIN') %}
                    <a href="{{ path('be_new') }}" class="btn btn-sm bg-gradient-primary text-white btn-icon-split ml-2 mr-2">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Créer un bordereau</span>
                    </a>
                    <a href="{{ path('be_edit', {'id': ct_bordereau.id}) }}" class="btn btn-sm bg-gradient-warning text-white btn-icon-split ml-2 mr-2">
                        <span class="icon text-white-50">
                            <i class="fas fa-pen"></i>
                        </span>
                        <span class="text">Modifier le bordereau</span>
                    </a>
                    <div>{{ include('ct_bordereau/_delete_form.html.twig') }}</div>
                    <a href="{{ path('be_print', {'id': ct_bordereau.id}) }}" class="btn btn-sm  bg-gradient-danger text-white btn-icon-split ml-2 mr-2" title="Générer l'EDB" target='_black'>
                        <span class="icon text-white">
                            <i class="fas fa-file-pdf"></i>
                        </span>
                        <span class="text">Générer le bordereau</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}