{% extends 'base_1.html.twig' %}

{% block title %}Détail la marque{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">       
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-gradient-primary">
                <h4 class="m-0 font-weight-bold text-gray-100">Détail la marque</h4>
                <div class="dropdown no-arrow">
                    <a href="{{ path('mrq_index') }}" title="Retour à la liste" class="btn btn-sm btn-secondary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-list"></i>
                        </span>
                    </a>
                    {% if is_granted('ROLE_SUPERADMIN') %}
                    <a href="{{ path('mrq_new') }}" title="Créer" class="btn btn-sm btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th width="20%">Libellé : </th>
                            <td width="80%">{{ ct_marque.mrqLibelle }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="card-footer">
                <div class="row">
                    <a href="{{ path('mrq_index') }}" class="btn btn-sm btn-secondary btn-icon-split ml-2 mr-2">
                        <span class="icon text-white-50">
                            <i class="fas fa-list"></i>
                        </span>
                        <span class="text">Retour à la liste</span>
                    </a>
                    {% if is_granted('ROLE_SUPERADMIN') %}
                    <a href="{{ path('mrq_new') }}" class="btn btn-sm btn-primary btn-icon-split ml-2 mr-2">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Créer une marque</span>
                    </a>
                    <a href="{{ path('mrq_edit', {'id': ct_marque.id}) }}" class="btn btn-sm btn-warning btn-icon-split ml-2 mr-2">
                        <span class="icon text-white-50">
                            <i class="fas fa-pen"></i>
                        </span>
                        <span class="text">Modifier la marque</span>
                    </a>
                    <div>{{ include('ct_marque/_delete_form.html.twig') }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{# {% extends 'base.html.twig' %}

{% block title %}CtMarque{% endblock %}

{% block body %}
    <h1>CtMarque</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ct_marque.id }}</td>
            </tr>
            <tr>
                <th>MrqLibelle</th>
                <td>{{ ct_marque.mrqLibelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ct_marque_index') }}">back to list</a>

    <a href="{{ path('app_ct_marque_edit', {'id': ct_marque.id}) }}">edit</a>

    {{ include('ct_marque/_delete_form.html.twig') }}
{% endblock %} #}