<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('app_dashbord') }}">
        <div class="sidebar-brand-icon">
            <img src="/sb-admin-2/images/logo_dgsr.png" width="60%" alt="..." >
        </div>
        <div class="sidebar-brand-text mx-3 justify-content-center">DGSR</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('app_dashbord') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Tableau de bord</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Contrôles
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#visite"
            aria-expanded="true" aria-controls="visite">
            <i class="fas fa-fw fa-screwdriver"></i>
            <span>Visite</span>
        </a>
        <div id="visite" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                {# <h6 class="collapse-header">Custom Utilities:</h6> #}
                {% if is_granted('ROLE_SUPERADMIN') %}
                <a class="collapse-item" href="{{ path('type_visite_index') }}">Types de visite</a>
                {% endif %}
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#reception"
            aria-expanded="true" aria-controls="reception">
            <i class="fas fa-fw fa-inbox"></i>
            <span>Réception</span>
        </a>
        <div id="reception" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                {# <h6 class="collapse-header">Custom Utilities:</h6> #}
                {% if is_granted('ROLE_SUPERADMIN') %}
                <a class="collapse-item" href="{{ path('type_reception_index') }}">Types de réception</a>
                {% endif %}
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#constatation"
            aria-expanded="true" aria-controls="constatation">
            <i class="fas fa-fw fa-clipboard"></i>
            <span>Constatations</span>
        </a>
        <div id="constatation" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                {# <h6 class="collapse-header">Custom Utilities:</h6> #}
                {% if is_granted('ROLE_SUPERADMIN') %}                    
                <a class="collapse-item" href="{{ path('cad_type_index') }}">Types de constatation</a>
                {% endif %}
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    {% if is_granted('ROLE_SUPERADMIN') %}
    <!-- Heading -->
    <div class="sidebar-heading">
        Données de base
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <!-- Types et anomalies -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#anomalies"
            aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-ambulance"></i>
            <span>Anomalies</span>
        </a>
        <div id="anomalies" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('app_ct_anomalie_type_index') }}">Types</a>
                <a class="collapse-item" href="{{ path('app_ct_anomalie_index') }}">Anomalies</a>
            </div>
        </div>
    </li>
    <!-- Carrosseries -->
    <li class="nav-item">
        <a class="nav-link" href="{{ path('crs_index') }}">
            <i class="fas fa-fw fa-cog"></i>
            <span>Carrosseries</span></a>
    </li>
    <!-- Genres et catégorie -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#genres"
            aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-clipboard"></i>
            <span>Genres</span>
        </a>
        <div id="genres" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('ct_gc_index') }}">Catégories</a>
                <a class="collapse-item" href="{{ path('gr_index') }}">Genres</a>
            </div>
        </div>
    </li>
    <!-- Centre et provinces -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#lieux"
            aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-globe"></i>
            <span>Lieux</span>
        </a>
        <div id="lieux" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('app_ct_province_index') }}">Provinces</a>
                <a class="collapse-item" href="{{ path('app_ct_centre_index') }}">Centres</a>
            </div>
        </div>
    </li>
    <!-- Carrosseries -->
    <li class="nav-item">
        <a class="nav-link" href="{{ path('mrq_index') }}">
            <i class="fas fa-fw fa-heading"></i>
            <span>Marques</span></a>
    </li>
    <!-- Arrêté et tous tarifs -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#arretes"
            aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-university"></i>
            <span>Tarifs</span>
        </a>
        <div id="arretes" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('app_ct_arrete_prix_index') }}">Arrêtés</a>
                <h6 class="collapse-header">Droits PTAC :</h6>
                <a class="collapse-item" href="{{ path('tp_drt_ptac_index') }}">Types</a>
                <a class="collapse-item" href="{{ path('dp_index') }}">Droits PTAC</a>
                <h6 class="collapse-header">Imprimés :</h6>
                <a class="collapse-item" href="{{ path('pv_index') }}">Procès-verbaux</a>
                <h6 class="collapse-header">Motif :</h6>
                <a class="collapse-item" href="{{ path('app_ct_motif_index') }}">Motifs</a>
                <a class="collapse-item" href="{{ path('app_ct_motif_tarif_index') }}">Tarifs par motif</a>
                <h6 class="collapse-header">Usage :</h6>
                <a class="collapse-item" href="{{ path('usage_index') }}">Usages</a>
                <a class="collapse-item" href="{{ path('usage_tarif_index') }}">Tarifs par usage</a>
                <h6 class="collapse-header">Visite extra :</h6>
                <a class="collapse-item" href="{{ path('vtex_index') }}">Types</a>
                <a class="collapse-item" href="{{ path('vet_index') }}">Tarifs</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    {% endif %}
    
    {% if is_granted('ROLE_SUPERADMIN') or is_granted('ROLE_ADMIN') %}
    <!-- Heading -->
    <div class="sidebar-heading">
        Admins
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#user"
            aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-users"></i>
            <span>Comptes utilisateurs</span>
        </a>
        <div id="user" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('app_user_index') }}">Utilisateurs</a>
                <a class="collapse-item" href="{{ path('app_vta_index') }}">Vérificateurs</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    {% endif %}

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>